<script>window.pageName = 'trips/show';</script>
<div class="display-view">
  <div class="display-view-list-section">
    <div class="title-bar">
      <a href="/trips" class="title-bar-button">
        <%= render 'svg/back_arrow' %>
      </a>
      <div class="title-bar-text"><%= @trip.name %></div>
    </div>
    <div class="event-display-list">
      <% if @events.count < 1 %>
        <%= render 'trips/empty', trip: @trip %>
      <% end %>
      <% @events.each do |event| %>
        <div class="event-display" id="event-<%= event.id %>">
          <div class="event-display-content">
            <div class="event-display-venue-name">
              <%= event.display_text %>
            </div>

            <div class="event-display-category">
              <%= time_ago_in_words event.created_at %> ago &ndash; <%= event.created_at.strftime('%B %e, %l:%M %p') %> EST
            </div>

            <%= render 'trips/icon', event: event %>

            <div class="button-circle">&times;</div>

            <%= render 'trips/meta', event: event %>
          </div>
          <div class="event-display-sub-content">
            <% if event.description %>
              <div class="event-display-description"><%= event.description %></div>
            <% end %>
            <% if event.description && event.photo.url %><br><br><% end %>
            <div class="image-drop-zone"></div>

            <div class="event-weather-location-wrapper">
              <% if event.weather %>
                <div class="event-display-sub-content-section event-display-sub-content-section--weather">
                  <%= render 'trips/weather', event: event %>
                </div>
              <% end %>

              <% if event.geolocation %>
                <div class="event-display-sub-content-section">
                  <%= render 'trips/location', event: event %>
                </div>
              <% end %>
            </div>

            <div class="comment comment-new comment-template">
              <div class="comment-text"></div>
              <div>
                <span class="comment-name"></span>
                <span class="comment-created-at">just now</span>
              </div>
            </div>
            <%= render 'trips/comments', comments: event.comments, event: event %>
            <% if event.comments_disabled || event.trip.comments_disabled %>
              Comments have been disabled
            <% else %>
              <%= render 'trips/comment_form', event_id: event.id %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="display-view-map-section" id="map"></div>
</div>

<%= render 'trips/json', events: @events %>
