<div class="display-view">
  <div class="display-view-list-section">
    <% if @events.count < 1 %>
      <div class="event-display-empty-state">
        <div>The Journey begins April 8</div>
      </div>
    <% end %>
    <% @events.each do |event| %>
      <div class="event-display" id="event-<%= event.id %>">
        <div class="event-display-content">
          <div class="event-display-category">
            <%= time_ago_in_words event.created_at %> ago &ndash; <%= event.created_at.strftime('%B %e, %l:%M %p') %>
          </div>

          <% if event.category == 'photo' %>
            <div class="event-display-icon event-display-icon--photo">
              <img src="/images/photo.svg">
            </div>
          <% elsif event.category == 'location' %>
            <div class="event-display-icon event-display-icon--location">
              <img src="/images/location.svg">
            </div>
          <% elsif event.category == 'expense' && event.cost > 0 %>
            <div class="event-display-cost">
              <%= number_to_currency event.cost/100 %>
            </div>
          <% elsif event.category == 'message' %>
            <div class="event-display-icon event-display-icon--message">
              <img src="/images/message.svg">
            </div>
          <% end %>

          <div class="event-display-venue-name">
            <%= event.display_text %>
          </div>

          <div class="event-display-meta flex-group">
            <% if event.weather['temp_F'] %>
              <div class="flex-element">
                <%= event.weather['temp_F'] %>F&#176;
              </div>
            <% end %>

            <% if event.weather['weatherCode'] %>
              <div class="flex-element">
                <img class="event-display-weather-icon" src="<%= event.icon_path %>">
              </div>
            <% end %>

            <% if event.weather['weatherDesc'] %>
              <div class="flex-element">
                <%event.weather['weatherDesc'].each do |desc| %>
                  <%= desc['value'] %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="event-display-sub-content">
          <% if event.description %>
            <div class="event-display-description"><%= event.description %></div>
          <% end %>
          <% if event.description && event.photo.url %><br><br><% end %>
          <% if event.photo.url %>
            <img src="<%= event.photo.url(:thumbnail) %>"
                 data-full-src="<%= event.photo.url %>"
                 class="event-display-small-image">
          <% end %>

          <% if event.weather %>
            <h1>Weather</h1>
            <dl>
              <dt>Windspeed</dt>
              <dd><%= event.weather['windspeedMiles'] %><span class="unit">MPH</span></dd>

              <dt>Feels like</dt>
              <dd><%= event.weather['FeelsLikeF'] %><span class="unit">F</span></dd>

              <dt>Humidity</dt>
              <dd><%= event.weather['humidity'] %><span class="unit">%</span></dd>

              <dt>Visibility</dt>
              <dd><%= event.weather['visibility'] %><span class="unit">KM</span></dd>

              <dt>Cloud cover</dt>
              <dd><%= event.weather['cloudcover'] %><span class="unit">%</span></dd>
            </dl>
          <% end %>

          <% if event.geolocation %>
            <h1>Location</h1>
            <dl>
              <dt>Latitude</dt>
              <dd><%= event.geolocation['latitude'] %></dd>

              <dt>Longitude</dt>
              <dd><%= event.geolocation['longitude'] %></dd>

              <dt>Altitude</dt>
              <dd><%= event.geolocation['altitude'] %></dd>
            </dl>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="display-view-map-section" id="map"></div>
</div>

<script type="text/javascript" id="data">
  window.events = [
    <% @events.each do |e| %>
      {
        id: <%= e.id %>,
        displayText: '<%= e.display_text %>',
        latitude: <%= e.geolocation['latitude'] %>,
        longitude: <%= e.geolocation['longitude'] %>
      },
    <% end %>
  ];
</script>
