<div class="display-view">
  <div class="display-view-list-section">
    <% if @events.count < 1 %>
      <%= render 'welcome/empty' %>
    <% end %>
    <% @events.each do |event| %>
      <div class="event-display" id="event-<%= event.id %>">
        <div class="event-display-content">
          <div class="event-display-category">
            <%= time_ago_in_words event.created_at %> ago &ndash; <%= event.created_at.strftime('%B %e, %l:%M %p') %> EST
          </div>

          <%= render 'welcome/icon', event: event %>

          <div class="close-circle">&times;</div>

          <div class="event-display-venue-name">
            <%= event.display_text %>
          </div>

          <%= render 'welcome/meta', event: event %>
        </div>
        <div class="event-display-sub-content">
          <% if event.description %>
            <div class="event-display-description"><%= event.description %></div>
          <% end %>
          <% if event.description && event.photo.url %><br><br><% end %>
          <div class="image-drop-zone"></div>

          <div class="event-weather-location-wrapper">
            <% if event.weather %>
              <div class="event-display-sub-content-section event-display-sub-content-section--weather">
                <%= render 'welcome/weather', event: event %>
              </div>
            <% end %>

            <% if event.geolocation %>
              <div class="event-display-sub-content-section">
                <%= render 'welcome/location', event: event %>
              </div>
            <% end %>
          </div>

          <div class="comment comment-new comment-template">
            <div class="comment-text"></div>
            <div>
              <span class="comment-name"></span>
              <span class="comment-created-at">just now</span>
            </div>
          </div>
          <%= render 'welcome/comments', comments: event.comments, event: event %>
          <%= render 'welcome/comment_form', event_id: event.id %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="display-view-map-section" id="map"></div>
</div>

<%= render 'welcome/json', events: @events %>
